//- Task 24b
html 
    head 
        title Breaddit
    body
        nav
            a(href="/users") Users
            a(href="/posts/new") Create Post
            a(href="/users/signup") Sign Up!
            a(href="/users/login") Log In!
        block mainContent