html 
    head
        title Breaddit 
    body
        //- Task 19b
        each user in users
            h3#header= user.username
            p= user.password
            p= user.bio
            img(class = 'SomeClass' id = user.id src=user.avatar).anotherClass.yetAnotherClass